<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var numStr = "33.3";
var num = Number(numStr); // this creates a number value, *not* an instance of the Number object
print(`num: ${num}`);
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var volts = parseInt("16 volts", 10); // the " volts" is ignored, 16 is parsed in base 10
var speed = parseFloat("15.5 mph"); // the " mph" is ignored; parseFloat always assumes base 10
print(`volts: ${volts}`);
print(`speed: ${speed}`);
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var five = 5;
var strFive = five.toString();
print(`strFive: ${strFive}`);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var bool = true;
var numBool = bool ? 1 : 0; // now we have a numeric value
var strBool = bool.toString(); // now we have string value
print(`numBool: ${numBool}`);
print(`strBool: ${strBool}`);
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
print(`Boolean(1): ${ Boolean(1)}`);
print(`Boolean("make me true, please"): ${ Boolean("make me true, please")}`); //remember, any string value ...
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
