<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
//if statement
var count = 1;
if (count == 3) {
    // evaluated if count is 3
	result = "three";
} else if (count == 4) {
    // evaluated if count is 4
	result = "four";
} else {
    // evaluated if it's not either 3 or 4
	result = "neither 3 nor 4";
}
print("count: " + count);
print("result: " + result);
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// DO NOT RUN THIS CODE IN A BROWSER!
//while (true) {
    // An infinite loop!
//}
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Ternary operator
var canIHazIceCream;
canIHazIceCream = (temp >= 75)? "Yes" : "No";
print("canIHazIceCream: " + canIHazIceCream);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Do-while loop
var input = 0;
do {
	input = getInput();
	print(input);
} while (!isValid(input));

function getInput(){
	return ++input;
}

function isValid(input){
	return (input==3)? true : false;
}

</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// For Loop
for (var i = 0; i < 5; i++) {
    // will run 5 times
    print(i);
}

print("---- second for loop ---");
var j = 0;
for (; j < 3;) {
    print(j);
    j++;
}
	
</textarea>

<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Outer Break Example
var result = 1;
outer:
for (var i = 0; i < 10; i++) {
    for (var j = 0; j < 10; j++) {
        if (i == 5 && j ==5) {
        	result += 1;
            break outer;
            // breaks out of outer loop instead 
            // of only the inner one
        }
    }
}
print("result: " + result);
</textarea>

<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// "for of" example 
var myPets = "";
var pets = ["cat", "dog", "hamster", "hedgehog"];
for (var pet of pets) {
	myPets += (myPets.length > 0) ? (", " + pet) : pet;
}
print("myPets= " + myPets);
</textarea>

<!-- ---------------------------- EXAMPLE 8 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var array1 = ['a', 'b', 'c'];

array1.forEach(function(element) {
  print(element);
});

// expected output: "a"
// expected output: "b"
// expected output: "c"
</textarea>

<!-- ---------------------------- EXAMPLE 9 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var online = true;
var electricity = true;
var booted = true;
var internetStatus = online && electricity && booted;
print("Internet Up: " + internetStatus);
</textarea>

<!-- ---------------------------- EXAMPLE 10 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var otherName="";
var name = otherName || "default";
print(name);

var online=true;
var data="offline";
online && setStatus("online");
print(data);

function setStatus(value) {
	data = value;
}
</textarea>

<!-- ---------------------------- EXAMPLE 11 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var grade = 'B';
switch (grade) {
  case 'A':
    print("Great job");
    break;
  case 'B':
    print("OK job");
    break;
  case 'C':
    print("You can do better");
    break;
  default:
    print("Oy vey");
    break;
}

// What happens if we move the default to the top position
// change the grade to an F, and comment out the "break;" 
// statement?
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
