<h1>Class Selector Example</h1>
<div class="all one">Div 1</div>
<div class="two all">Div 2</div>
<div class="tres all">Div 3</div>
<style>
/* all divs with class all */
.all {
   color: #000;
   font-weight: 800;
   background-color: #663399;
}

/* any div with class one */
.one {
   color: #f00;
   font-weight: 100;
}
</style>