<!-- background-clip: border-box -->
<div class="borderBox">
    <p>
        <strong>Border Box</strong> - 
        The background extends behind the border.
    </p>
</div>
<hr/>
<!-- background-clip: padding-box -->
<div class="paddingBox">
    <p>
        <strong>Padding Box</strong> - 
        The background extends to the inside 
        edge of the border.
    </p>
</div>
<hr/>
<!-- background-clip: content-box -->
<div class="contentBox">
    <p>
        <strong>Content Box</strong> - 
        The background extends to the edge of 
        the content box.
    </p>
</div>
<style>
.borderBox {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip: border-box;    
}

.paddingBox {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip: padding-box;
}

.contentBox {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip: content-box;
}
div {
	margin-bottom: 10px;
}
</style>